/* Essentials */
body { 
	font-family: 	arial; 
	font-size: 		12px; 
	margin: 		0;	
	padding: 		0; 
	width: 			100%; 
}

a { 
 	color: #000080;
  	text-decoration: none; 
}

a:hover { 
 	color: #000080;
 	text-decoration: underline; 
}

form, h1, img, p, ul, li { 
	border: 			0; 
 	list-style-type: 	none; 	
	margin: 			0; 	
	padding: 			0; 
}

#footer {
  	border-top: 	1px dotted #CCCCCC;
 	margin: 		0 auto;
 	padding:		20px 0;
	width: 			100%;
	text-align: 	center;
}

#column_left {
 	float: 			left;
	margin: 		5px; 
	width: 			360px;
}

#column_right {
 	float: 			left;
	margin: 		5px; 
	width: 			320px;
}

#error {
 	color:			#FF0000;
 	font-weight:	bold;
	margin: 		10px auto;
	width:			360px; 
	text-align:		center;
}
 
#header {
  	border-bottom: 	1px dotted #CCCCCC;
	height: 		80px;	
	padding: 		0;
	margin: 		0;
}

#home_logo {
 	margin: 		10px auto;
	padding: 		5px;
	width: 			280px;	 
	text-align: 	center;
}

#search {
	padding: 5px 0 10px 0; 
}

#widget {
 	background: url('../images/gradiente.jpg') repeat-x;
 	border: 	1px dotted #CCC;
	padding: 	5px;	 
}

#widget span {
	float: 		right;
}

#wrap {
	margin: 	0; 
}

#content {
	padding: 	5px 10px;
}

#menu {
	background: 	url('../images/gradiente.jpg') repeat-x;
	border-right: 	1px dotted #CCCCCC;
	padding: 		10px;
	height:			100%;
	width: 			130px;
}

#menu h1 {
	font-size: 		14px;	
	padding: 		0;
	margin: 		0;	
}

#menu ul, li {
	margin: 		5px;
}

#menu a {
	font-size: 		11px;
}

#submenu {
 	font-size: 		11px;
 	padding: 		0 5px;
 	margin: 		10px 0;
}

#submenu a {
	color: 			#000000;
	padding: 		5px 10px;	
}

#submenu a:hover {
	background: 		#EEEEEE;
	padding: 			5px 10px;
	text-decoration: 	none;	
}

#table {
 	background: 	#FFFFFF url('../images/gradiente.jpg') repeat-x;
 	border: 		1px dotted #CCC;
	padding: 		2px;
}

#table tr { 
 	background: 	#EEEEEE; 
	padding: 		2px; 
	margin: 		2px; 
}

#table tr:hover { 
 	background: 	#E5E5E5; 
}

#table a {
 	text-decoration:	none;
}

#table td { 
 	padding: 		2px 5px; 
	margin: 		0; 
}

.widget {
 	background: 	url('../images/gradiente.jpg') repeat-x;
 	border: 		1px dotted #CCC;
	padding: 		5px; 
	margin: 		0 auto; 
}

.widget_title {
	font-size: 		18px;
	font-weight:	bold;
	padding: 		5px;
	margin: 		0px;	
}

.info {
 	color: 			#000;
	font-size:		10px;	
}

.row {
	padding: 	10px;	
}

.left { 
 	float: 		left; 
}

.right { 
 	float: 		right; 
}

.clear { 
 	clear: 		both; 
}

.center { 
 	text-align: center; 
}

.bold {
	font-weight:	bold;	
}

.odd {
	background: 	#EEEEEE;
	padding: 		5px 10px;
}
